
body{
  background: url("k1.jpg") no-repeat fixed center;
  background-size: cover;
}
#contact{
  box-shadow:  7px 3px 10px rgb(44, 43, 43);
  }
#contact:hover{
  box-shadow:  5px 5px 15px rgb(135, 156, 135);
  }
.h1{
    color: hsl(34, 100%, 91%);
  }  
